# Obsidian Kasanızın yolunu buraya yazın
# Mac örneği: /Users/kullaniciadin/Documents/ObsidianKasam/YasiyanOrman
# Windows örneği: C:\Users\KullaniciAdin\Documents\ObsidianKasam\YasiyanOrman

OBSIDIAN_VAULT_PATH=/Users/kullaniciadin/Documents/Obsidian/YasiyanOrman
